<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.way.appmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <!-- 网络连接 -->
    <uses-permission android:name="android.permission.INTERNET" />
	<!-- 监听网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 写存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="cn.way.appmanager.DownloadService" />
<!-- 可以动态添加 也可以像下面这样注册到应用中-->
        <receiver
            android:name="cn.way.appmanager.DownloadService$PackageStateReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" >
                </action>
                <action android:name="android.intent.action.PACKAGE_CHANGED"></action>
                <action android:name="android.intent.action.PACKAGE_REMOVED" >
                </action>
                <action android:name="android.intent.action.PACKAGE_REPLACED" >
                </action>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"></action>
                <data android:scheme="package" >
                </data>
            </intent-filter>
        </receiver>

        <activity android:name="cn.way.wandroid.activityadapter.PageAdapterActivity" >
        </activity>
    </application>

</manifest>